body{
  background-color: #001525;
}
.container{
  width: 18%;
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

.row-door           { 
  -webkit-flex-direction: row; 
  flex-direction: row;
  justify-content: center;
}

#mainbox {
  width: auto;
  height: auto;
  background-color: red;
  margin:5px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;


}

.door{
  display: flex;
}

#circle {
  position: absolute;
  top: 45%;
  width: 8px;
  height: 8px;
  background: #001525;
  border-radius: 50%
}



#square {
  width: 50px;
  height: 70px;
  background: rgb(184, 174, 174);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  background: #001525;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin: 5px;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}
.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
  grid-row: end;
  margin: 20px;
}

  .box {
    display: flex;
  }

 .window {
  background-color: rgb(192, 175, 175);
  width: 20px;
  height: 20px

 }


#top-right{
  width: 0;
  height: 0;
  border-bottom: 130px solid red;
  border-right: 140px solid transparent;
}

#top-left{
  width: 0;
  height: 0;
  border-bottom: 130px solid red;
  border-left: 140px solid transparent;
}
