body{
  background-color: #001525;
}
.container{
  width: 17%;
  position: absolute;
  top: 29%;
  left: 43%;
  margin-top: -50px;
  margin-left: -50px;
  
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

.row-door           { 
  -webkit-flex-direction: row; 
  flex-direction: row;
  justify-content: center;
}

#mainbox {
  width: auto;
  height: auto;
  background-color: #ff9100;
  margin:5px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 0px;
  margin-left: 14px;
}



.door{
  display: flex;
}

#circle {
  position: absolute;
  top: 85%;
  left: 40%;
  width: 8px;
  height: 8px;
  background: #001525;
  border-radius: 50%
}



#square {
  width: 50px;
  height: 70px;
  background: #e36414;
  margin-left: 74px;
}

#smoker {
  width: 34px;
  position: absolute;
  height: 70px;
  background: #ff9100;
  top: 8%;
  left: 14%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  background: #001525;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin: 5px;
  

}
.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
  grid-row: end;
  margin: 20px;
}

  .box {
    display: flex;
  }

 .window {
  background-color: rgb(192, 175, 175);
  width: 20px;
  height: 20px

 }


#top-right{
  width: 0;
  height: 0;
  border-bottom: 125px solid #ff9100;
  border-right: 120px solid transparent;
}

#top-left{
  width: 0;
  height: 0;
  border-bottom: 125px solid #ff9100;
  border-left: 120px solid transparent;
}
